.imagen-principal {
    height: 320px;
    width: 400px;
    display: block;
    margin: 5px auto;
    padding-left: 10px;
}

/* Estilos para el título principal  dentro de app*/
.titulo-principal{
    background-color: rgb(150, 190, 111);
    font-size: 36px;
    color: #10110f;
    margin-bottom: 20px;
}

.container{
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ba3535;
    padding: 10px;
}
.footer{
    background-color: #10110f;
    color: #f5f9f0;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
