<!-- página: inicio.html -->

{% extends "base.html" %}
{% block titulo %} Inicio {% endblock %}

{% block menu_adicional %}
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary"        href="{% url 'registrar_evaluador' %}" role="button">Persona</a>
        <a class="btn btn-secondary ms-2" href="{% url 'registrar_empresa' %}"   role="button">Empresa</a>
    </div>
{% endblock %}


{% block contenido %}
{% load static %}

<div class="container_uno">
    <div class="container">
        <a href="{% url 'detalle_libro' 16 %}">
            <img src="{% static 'images/tarjeta1.jpg' %}" alt="La Grulla" class="imagen-principal">
        </a>
        <a href="{% url 'detalle_libro' 13 %}">
            <img src="{% static 'images/tarjeta9.jpg' %}" alt="Ferresur" class="imagen-principal">
        </a>
        <a href="{% url 'detalle_libro' 16 %}">
            <img src="{% static 'images/tarjeta10.jpg' %}" alt="Lider" class="imagen-principal">
        </a>
    </div>

    <div class="container">
        <a href="{% url 'detalle_libro' 17 %}">
            <img src="{% static 'images/tarjeta12.jpg' %}"    alt="Bancodechile"      class="imagen-principal">
        </a>
        <a href="{% url 'detalle_libro' 20 %}">
            <img src="{% static 'images/tarjeta13.jpg' %}" alt="Farmacia Picarte"  class="imagen-principal">
        </a>
        <a href="{% url 'detalle_libro' 15 %}">
            <img src="{% static 'images/tarjeta15.jpg' %}"    alt="Lider"             class="imagen-principal">
        </a>
    </div>
    <div class="row" id="buscar" style="padding-bottom: 10px;padding-left: 200px">
        <h3></h3>
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="query" style="border-radius: 6%; background-color:#94D8F6 ;"  placeholder="Buscar empresas">
                <button type="submit" style="border-radius:5% ; background-color: #94D8F6;">Buscar</button>
            </form>
    </div>

    <div class="footer-copyright">
        <div class="container">
            © 2024 Copyright  : <a href="#">Inacap</a>
    
    </div>

</div>


{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

