<!-- página: inicio.html -->

{% extends "base.html" %}
{% block titulo %} Inicio {% endblock %}
{% load static %}

{% block contenido %}
<div class="container_uno">
    <div class="container">
        <!-- Primera Fila de tres columnas -->
        
            {% for libro in imagenes|slice:":3" %}  <!-- Tomar las primeras 3 imágenes -->
               
                    <a href="{% url 'detalle_libro' libro.id %}">
                        <img src="{{ libro.imagen.url }}" alt="{{ libro.nombre }}" class="imagen-principal">
                    </a>
               
            {% endfor %}
    </div>    

        <!-- Segunda Fila de tres columnas -->
    <div class="container">   
            {% for libro in imagenes|slice:"3:6" %}  <!-- Tomar las siguientes 3 imágenes -->
                
                    <a href="{% url 'detalle_libro' libro.id %}">
                        <img src="{{ libro.imagen.url }}" alt="{{ libro.nombre }}" class="imagen-principal">
                    </a>
                
            {% endfor %}  
    </div>
</div>

<div class="row" id="buscar" style="padding-bottom: 10px; padding-left: 200px;">
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query" style=" background-color: #ccd5d8;" placeholder="Buscar empresas">
        <button type="secondary" class="btn btn-secondary btn-sm" style="border-radius: 5%; background-color: #868b8d;">Buscar</button>
      
    </form>
</div>

<div class="footer">
    <div class="container">
        © 2024 Copyright : <a href="#">Inacap</a>
    </div>
</div>

{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}


