<!--página crear.html-->

{% extends "base.html" %}

{% block contenido %}
  <div class="card">
    <div class="card-header">
      Crear un nuevo libro
    </div>
    <div class="card-body">
      {% if mensaje %}
        <div class="alert alert-warning">
          {{ mensaje }}
        </div>
      {% endif %}
      
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formulario.as_p }}
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </form>
    </div>
  </div>
{% endblock %}
