<!--página : index.html-->
{% extends "base.html" %}
{% load static %}  <!--  cargar la etiqueta static -->
{% block titulo %} Nosotros {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        
    </div>  
    <div class="card-body">
        <h4 class="card-title">Empresas</h4>
        <table class="table">
            <thead>
              
            </thead>
            <tbody>
                {% for libro in libros%}
                <tr>
                   
                    <td>  
                        <img src="{{ libro.imagen.url}}" height="120" width="180"/>
                    </td>

                    
                    <td> {{ libro.descripcion}}</td>
                    <td>  <a name="" id="" class= "btn btn-light"   href="{% url 'detalle_libro' libro.id %}"  role="button">Buscar</a>
                    
                </tr> 
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}