body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    background: #fafcfd;
    
    }
   
.imagen-principal {
        height: 200px;
        width: 267px;
        display: block;
        margin: 10px auto;
        padding: 12px;
        border: 2px solid #b5b4b4;  /* Borde claro */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra alrededor */
        border-radius: 8px;  /* Bordes redondeados */
}
    

/* Estilos para el título principal  dentro de app*/
.titulo-principal{
    background-color: rgb(159, 165, 159);
    font-size: 36px;
    color: #f0f1f9;
    margin-bottom: 2px;
}

.container{
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#C6C7C8;
    padding: 10px;
}
.nav-item {
    color: rgb(2, 2, 23); /* Cambia "blue" al color que desees */
    /* Otros estilos opcionales */
    text-decoration: none; /* Quita el subrayado predeterminado */
}

#footer{
    background-color: #dfbdbd;
    color: #f5f9f0;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.dropdown-menu {
    min-width: 200px; /* Ajusta el ancho mínimo del menú desplegable */
    left: auto; /* Asegúrate de que esté alineado con el botón */
    right: 0; /* Coloca el menú en el lado derecho */
    background-color: #93a0ad;
    color: rgb(63, 15, 15);
}

.dropdown {
    display: inline-block; /* Asegura que el dropdown no ocupe toda la línea */
    background-color: #C6C7C8; /* Asegura que el color sea igual que el del fondo
    
    
}
.dropdown-item {
    color: #191b1d; /* Color de texto para los elementos del menú */
}